{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <title>file</title>
    <form method="POST" enctype="multipart/form-data">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="alert alert-danger"> {{ error }} </p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-info" type="submit" value="Submit" />
    </form>
</div>
{% endblock content %}