
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

    <div class="content-section">
            <fieldset class="form-group mw-25">
                <legend class="border-bottom mb-4">Edit Profile</legend>
                <a href="{% url 'accounts:edit_personal_info' %}" class="btn btn-default">Personal Info</a><br><br>
                <a href="{% url 'accounts:edit_more_info' %}" class="btn btn-default">More info</a><br><br>
                <a href="{% url 'accounts:change_password' %}" class="btn btn-default" >Change Password</a>

            </fieldset>

    </div>
{% endblock body %}