{% extends "posts/base.html" %}
{% block content %}
<html>
    <title>Easy Learn</title>
    <style>
        .Summary {
        border: 1px solid black;
        width: 300px;
        padding: 30px;
        text-align: center;
        position: absolute;
        top: 275%;
        left: 73%;
        transform: translate(-50%, -50%)
        }
        img {
          display: block;
          margin-left: 42%;
          margin-right: 0%;
        }
    </style>
</head>
<body>
    <div>
        <img src="http://www.net-key.it/easylearn/logo.png" alt="Paris" style="width:65%">
    </div>
    <div class="Summary">
        <p class="summaryText">Easy learn is a social network that designed to facilitate the sharing of
            educational material between students from all educational institutions.</p>
    </div>
</body>
</html>
{% endblock content %}