{% extends "posts/base.html" %}
{% block navbar %}
    <a class='btn btn-primary' onclick="window.close()">Close</a>
    <br/><br/>
    <h4> Friends list of {{ user.first_name }} {{ user.last_name }} </h4>
{% endblock navbar %}


{% block content %}
    {% for friend in friends_list %}
        <a class='btn btn-link' onclick="close_and_redirect_parent('/user/show-users/selected-user/{{ friend.user.id }}')">
            {{ friend.user.first_name }} {{ friend.user.last_name }}
        </a>
        <br><br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if friends_list.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">&laquo; first</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ friends_list.previous_page_number }}">previous</a>
            {% endif %}

            {% for num in friends_list.paginator.page_range %}
                {% if friends_list.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > friends_list.number|add:'-3' and num < friends_list.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if friends_list.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ friends_list.next_page_number }}">next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ friends_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <div>
        Page {{ friends_list.number }} of {{ friends_list.paginator.num_pages }}
    </div>

    <script language="javascript" type="text/javascript">
        function close_and_redirect_parent(url) {
            window.opener.location.href = url;
            window.close();
        }
    </script>

{% endblock content %}
