{% extends "posts/base.html" %}
{% block head %}
<title>Profile</title>
<style>
        .imageProfile {
        border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="content-section">

   <div class="imageProfile">
       {% if profile.profile_pic %}
            <img src={{ profile.profile_pic.url }} alt="Paris" style="width:13%">
        {% else %}
            <img src="https://i.stack.imgur.com/l60Hf.png" alt="Paris" style="width:13%">
       {% endif %}

    </div>
<div class="container">
    <div class="well">
    <legend class="border-bottom mb-4">Profile        <a href="{% url 'users:edit_profile' %}" class="btn btn-default" >edit</a>
</legend>
        <p>Username: {{ user }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>gender: {{ profile.gender }}</p>
        <p>birth date: {{ profile.birth_date }}</p>
        <p>college name: {{ profile.college_name }}</p>
        <p>year of study: {{ profile.year_of_study }}</p>
        <p>about me: {{ profile.about_me }}</p>
        <p>degree: {{ user_degree.degree_id }}</p>
        <p>courses: {{ user_courses }}</p>
    </div>
</div>

<div class="container">
</div>
</div>

<!--</div>-->
    <!--{% if user.userprofile.image %}-->
    <!--{% endif %}-->
<!--</div>-->

{% endblock content %}

{% block sidebar %}
    <a href="{% url 'files:delete_files' %}" class="btn btn-danger">Delete Files</a>
{% for r_request in friend_requests %}
    <div class="content-section">

			<p>You have request from <a href="/user/show-users/selected-user/{{ r_request.from_user.id }}">{{ r_request.from_user.username }}</a></p>
            <small><a class='btn btn-primary' href="/user/friend-request/accept/{{ r_request.from_user.id }}">Accept</a></small>
			<small><a class='btn btn-warning' href="/user/friend-request/delete/{{ r_request.from_user.id }}">Ignore</a></small>
            </div>

		{% endfor %}
{% endblock %}