{% extends "posts/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
            </legend>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form|crispy }}
            {% endif %}
        </fieldset>
        <!--{% if wizard.steps.prev %}-->
            <!--<button  class="btn btn-outline-info" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">-->
                <!--{% trans "first step" %}-->
            <!--</button>-->
            <!--<button class="btn btn-outline-info" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">-->
                <!--{% trans "prev step" %}-->
            <!--</button>-->
        <!--{% endif %}-->
        <input class="btn btn-outline-info" type="submit" value="submit" />
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
</div>
{% endblock content %}