{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="GET" action="{% url 'users:search' %}">
        <p><input name="q" value="{{request.GET.q}}" placeholder="search.."/><span style="margin-left: 10px; position: absolute;">
            <button class="btn btn-outline-info btn-sm" type="submit">Search</button></span></p>
        <hr>
    </form>
    {% for u in users%}
        {% if u != user%}
            <p><a class='btn btn-default' href="/user/show-users/selected-user/{{ u.id }}">{{u.first_name}} {{u.last_name}}</a></p>
         {% endif %}
        {% endfor %}
</div>
{% endblock content %}
