{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="GET" action="{% url 'users:search' %}">
        <input name="q" value="{{request.GET.q}}" placeholder="search.."/>
        <button class="btn btn-outline-info" type="submit">Search</button>
    </form>
    {% for u in users%}
        {% if u != user%}
           <br><br><a href="{% url 'users:selected_user' %}?user_id={{ u.id }}" >{{u.first_name}} {{u.last_name}} </a>
         {% endif %}
        {% endfor %}
</div>
{% endblock content %}