{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block head %}
<title>Profile</title>
<style>
        .imageProfile {
        border: 1px solid black;
        }
    </style>
{% endblock head%}

{% block content %}
    <div class="content-section">

   <div class="imageProfile">
    <img src="https://i.stack.imgur.com/l60Hf.png" alt="Paris" style="width:13%">
    </div>
<div class="container">
    <div class="well">
    <legend class="border-bottom mb-4">Profile</legend>
        <p>Username: {{ user }}</p>
        {% if button_status == 'friends' %}
            {% for field in profile_form %}
                {{ field.label }}: {{ field.value }}<br><br>
            {% endfor %}
            {% for field in extra_form %}
                {{ field.label }}: {{ field.value }}<br><br>
            {% endfor %}
        {% else %}
            <p>First name: {{ user.first_name }}</p>
            <p>Last name: {{ user.last_name }}</p>
        {% endif %}
    </div>
</div>

<div>
    {% if button_status == 'not_friend' %}
            <small><a class='btn btn-primary' href="/user/friend-request/send/{{ user.id }}">Add Friend</a></small>
    {% elif button_status == 'friend_request_sent' %}
            <small><a class="btn btn-warning" href="/user/friend-request/cancel/{{ user.id }}">Cancel Request</a></small>
    {% endif %}
</div>
</div>

<!--</div>-->
    <!--{% if user.userprofile.image %}-->
    <!--{% endif %}-->
<!--</div>-->
{% endblock content %}