{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <img src="https://www.swissmadesoftware.org/.imaging/w500-png/dam/6b2c61f7-42a3-401e-bb3d-506ff0797d16/easylearn-Logo-RGB.png" alt="" style="width:23%">
    {% for p in all_posts %}
        <article class="content-section" >
           {% if p.profile.profile_pic %}
                <img class="rounded-circle article-img" src="{{ p.profile.profile_pic.url }}">
            {% else %}
                <img class="rounded-circle article-img" src="https://i.stack.imgur.com/l60Hf.png">
           {% endif %}
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="/user/show-users/selected-user/{{ p.post.author.id }}">{{ p.post.author }}</a>
              <small class="text-muted">{{ p.post.date|date:"F d, Y" }}</small>
            </div>
            <div>
                <h3><a class="article-title" href="{% url 'posts:post-detail' p.post.id %}">{{ p.post.category }}</a></h3>
                <p class="article-content">{{ p.post.body }}</p>
                {% if p.post.file %}
                    <a class="article-content" href="{% url 'files:download_file' p.post.file.id %}">{{ p.post.file }}</a>
                {% endif %}
            </div>
          </div>
        </article>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}

{% block sidebar %}
    <a href="{% url 'posts:newPost' %}" class="btn btn-outline-info">Create Post</a>
{% endblock %}