{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <title>create new post</title>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <a href="{% url 'posts:newPost' %}" name="add_file" class="btn btn-outline-info">add file</a>
        </div>
        <br>
        <div>
            <input class="btn btn-outline-info" type="submit" value="Add Post" />
        </div>
    </form>
</div>
{% endblock content %}