{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="content-section" >
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="/user/show-users/selected-user/{{ post.author.id }}">{{ post.author }}</a>
          <small class="text-muted">{{ post.date|date:"F d, Y" }}</small>
        </div>
        <div>
            <h3>{{ post.category }}</h3>
            <p class="article-content">{{ post.body }}</p>
        </div>
      </div>
    </article>

    <form method="post">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input class="btn btn-outline-info mb-4" type="submit" value="Add Comment" />
    </form>

    <div class="main-comment-section">
        {{ comments.count }} Comment{{ comments|pluralize }}
        {% for comment in comments %}
            <blockquote class="blockquote">
                <p class="mb-0">{{ comment.comment }}</p>
                <footer class="blockquote-footer">
                    By <a class="mr-2" href="/user/show-users/selected-user/{{ comment.author.id }}">{{ comment.author|capfirst }}</a>,
                    {{ comment.publish_date|date:"d F Y, h:m" }}
                </footer>
            </blockquote>
        {% endfor %}
    </div>

{% endblock content %}

{% block sidebar %}
    {% if user == post.author %}
        <a href="{% url 'posts:delete_post' post.id %}" class="btn btn-outline-info">Delete Post</a>
    {% endif %}
{% endblock %}